<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmls:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	
	<title>Usuario</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.js"></link>
</head>

<body>
<div class="container">
		<div class="panel-heading" align="center">
			<strong>Alterar Usuario</strong>
		</div>
		
		<div class="panel-body">
			<form class="form-horizontal" th:object="${usuario}" th:action="@{/usuario/alterarUsuario}" method="POST" style="margin: 10px">
			<fieldset>

		<div class="form-group row">
			<input type="hidden" class="form-control input-sm" id="id" th:field="*{id}"/>
		</div>
		
		<div class="form-group row">
			<label>Nome</label>
			<input type="text" class="form-control input-sm" id="nome" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="50"/>
		</div>
		
		<div class="form-group row">
			<label>Sobrenome</label>
			<input type="text" class="form-control input-sm" id="sobrenome" th:field="*{sobrenome}" autofocus="autofocus" placeholder="Informe a sobrenome" maxlength="200"/>
		</div>
		
		<div class="form-group row">
			<label>Telefone</label>
			<input type="number" step="any" class="form-control input-sm" id="telefone" th:field="*{telefone}" autofocus="autofocus" placeholder="Informe o telefone" maxlength="10"/>
		</div>
		
			<div class="form-group row">
			<label>Status</label>
			<input type="text" class="form-control input-sm" id="status" th:field="*{status}" autofocus="autofocus" placeholder="Informe o status" maxlength="50"/>
		</div>
		
		<div class="form-group row">
			<label>Senha</label>
			<input type="text" class="form-control input-sm" id="senha" th:field="*{senha}" autofocus="autofocus" placeholder="Informe a senha" maxlength="200"/>
		</div>
		
		
		
		<label>Usuario</label>
		

			</fieldset>
		</div>
		
		<div align="center">
		<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
		<a th:href="@{/usuario/listarUsuario}" class="btn btn-sm btn-default">Cancelar</button></a>
		
		</div>
		</form>
		</div>
		</div>
		

</body>
</html>